<h2 contenteditable="true"><i class="bi bi-gear"></i> ARBETSLIVSERFARENHET</h2>
<mat-card class="mb-2">
  <div class="row p-2">
    @for (item of experiences; track $index) {
    <div class="col-5" contenteditable="true">{{ item.date }}</div>
    <div class="col-7">
      <div>{{ item.companyName }}</div>
      <div class="profession">{{ item.profession }}</div>
      <ul>
        @for (experience of item.experienceList; track $index) {
        <li>
          <div class="editable" contenteditable="true">
            <i class="bi bi-arrow-right"></i> {{ experience }}
          </div>
        </li>
        }
      </ul>
    </div>
    }
  </div>
</mat-card>
