button {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 25px;
  color: red;
  border: none;
  aspect-ratio: 1;
}

.hidden {
  background-color: black;
  color: black;
  aspect-ratio: 1;
}

.child1 {
  background: url("/assets/megaman.png") 0 0;
}
.child2 {
  background: url("/assets/megaman.png") -50px 0;
  background-size: cover;
}
.child3 {
  background: url("/assets/megaman.png");
  background-size: auto;
}
.child4 {
  background-image: url("/assets/megaman.png");
  background-position: 300px 200px;
  background-size: auto;
}
.child5 {
  background-image: url("/assets/megaman.png");
  background-position: 200px 200px;
  background-size: auto;
}
.child6 {
  background-image: url("/assets/megaman.png");
  background-position: 100px 200px;
  background-size: auto;
}
.child7 {
  background-image: url("/assets/megaman.png");
  background-position: 300px 100px;
  background-size: auto;
}
.child8 {
  background-image: url("/assets/megaman.png");
  background-position: 200px 100px;
  background-size: auto;
}
.child9 {
  background-image: url("/assets/megaman.png");
  background-position: 100px 100px;
  background-size: auto;
}

.child11 {
  background-image: url("/assets/megaman2.png");
  background-position: 400px 400px;
}
.child12 {
  background-image: url("/assets/megaman2.png");
  background-position: 300px 400px;
}
.child13 {
  background-image: url("/assets/megaman2.png");
  background-position: 200px 400px;
}
.child14 {
  background-image: url("/assets/megaman2.png");
  background-position: 100px 400px;
}
.child15 {
  background-image: url("/assets/megaman2.png");
  background-position: 400px 300px;
}
.child16 {
  background-image: url("/assets/megaman2.png");
  background-position: 300px 300px;
}
.child17 {
  background-image: url("/assets/megaman2.png");
  background-position: 200px 300px;
}
.child18 {
  background-image: url("/assets/megaman2.png");
  background-position: 100px 300px;
}
.child19 {
  background-image: url("/assets/megaman2.png");
  background-position: 400px 200px;
}
.child20 {
  background-image: url("/assets/megaman2.png");
  background-position: 300px 200px;
}
.child21 {
  background-image: url("/assets/megaman2.png");
  background-position: 200px 200px;
}
.child22 {
  background-image: url("/assets/megaman2.png");
  background-position: 100px 200px;
}
.child23 {
  background-image: url("/assets/megaman2.png");
  background-position: 400px 100px;
}
.child24 {
  background-image: url("/assets/megaman2.png");
  background-position: 300px 100px;
}
.child25 {
  background-image: url("/assets/megaman2.png");
  background-position: 200px 100px;
}
.child26 {
  background-image: url("/assets/megaman2.png");
  background-position: 100px 100px;
}
/* 
.child251 {
  background-image: url("/assets/megaman3.png");
  background-position: 500px 500px;
}
.child252 {
  background-image: url("/assets/megaman3.png");
  background-position: 400px 500px;
}
.child253 {
  background-image: url("/assets/megaman3.png");
  background-position: 300px 500px;
}
.child254 {
  background-image: url("/assets/megaman3.png");
  background-position: 200px 500px;
}
.child255 {
  background-image: url("/assets/megaman3.png");
  background-position: 100px 500px;
}

.child256 {
  background-image: url("/assets/megaman3.png");
  background-position: 500px 400px;
}
.child257 {
  background-image: url("/assets/megaman3.png");
  background-position: 400px 400px;
}
.child258 {
  background-image: url("/assets/megaman3.png");
  background-position: 300px 400px;
}
.child259 {
  background-image: url("/assets/megaman3.png");
  background-position: 200px 400px;
}
.child2510 {
  background-image: url("/assets/megaman3.png");
  background-position: 100px 400px;
}

.child2511 {
  background-image: url("/assets/megaman3.png");
  background-position: 500px 300px;
}
.child2512 {
  background-image: url("/assets/megaman3.png");
  background-position: 400px 300px;
}
.child2513 {
  background-image: url("/assets/megaman3.png");
  background-position: 300px 300px;
}
.child2514 {
  background-image: url("/assets/megaman3.png");
  background-position: 200px 300px;
}
.child2515 {
  background-image: url("/assets/megaman3.png");
  background-position: 100px 300px;
}

.child2516 {
  background-image: url("/assets/megaman3.png");
  background-position: 500px 200px;
}
.child2517 {
  background-image: url("/assets/megaman3.png");
  background-position: 400px 200px;
}
.child2518 {
  background-image: url("/assets/megaman3.png");
  background-position: 300px 200px;
}
.child2519 {
  background-image: url("/assets/megaman3.png");
  background-position: 200px 200px;
}
.child2520 {
  background-image: url("/assets/megaman3.png");
  background-position: 100px 200px;
}

.child2521 {
  background-image: url("/assets/megaman3.png");
  background-position: 500px 100px;
}
.child2522 {
  background-image: url("/assets/megaman3.png");
  background-position: 400px 100px;
}
.child2523 {
  background-image: url("/assets/megaman3.png");
  background-position: 300px 100px;
}
.child2524 {
  background-image: url("/assets/megaman3.png");
  background-position: 200px 100px;
}
.child2525 {
  background-image: url("/assets/megaman3.png");
  background-position: 100px 100px;
} */
