<button
  [ngClass]="{
    hidden: value.blank,
    child1: value.number === 1,
    child2: value.number === 2,
    child3: value.number === 3,
    child4: value.number === 4,
    child5: value.number === 5,
    child6: value.number === 6,
    child7: value.number === 7,
    child8: value.number === 8,
    child9: value.number === 9 && !value.blank,
    child11: value.number === 1 && value.amount === 16,
    child12: value.number === 2 && value.amount === 16,
    child13: value.number === 3 && value.amount === 16,
    child14: value.number === 4 && value.amount === 16,
    child15: value.number === 5 && value.amount === 16,
    child16: value.number === 6 && value.amount === 16,
    child17: value.number === 7 && value.amount === 16,
    child18: value.number === 8 && value.amount === 16,
    child19: value.number === 9 && value.amount === 16,
    child20: value.number === 10 && value.amount === 16,
    child21: value.number === 11 && value.amount === 16,
    child22: value.number === 12 && value.amount === 16,
    child23: value.number === 13 && value.amount === 16,
    child24: value.number === 14 && value.amount === 16,
    child25: value.number === 15 && value.amount === 16,
    child26: value.number === 16 && value.amount === 16 && !value.blank,
    child251: value.number === 1 && value.amount === 25,
    child252: value.number === 2 && value.amount === 25,
    child253: value.number === 3 && value.amount === 25,
    child254: value.number === 4 && value.amount === 25,
    child255: value.number === 5 && value.amount === 25,
    child256: value.number === 6 && value.amount === 25,
    child257: value.number === 7 && value.amount === 25,
    child258: value.number === 8 && value.amount === 25,
    child259: value.number === 9 && value.amount === 25,
    child2510: value.number === 10 && value.amount === 25,
    child2511: value.number === 11 && value.amount === 25,
    child2512: value.number === 12 && value.amount === 25,
    child2513: value.number === 13 && value.amount === 25,
    child2514: value.number === 14 && value.amount === 25,
    child2515: value.number === 15 && value.amount === 25,
    child2516: value.number === 16 && value.amount === 25,
    child2517: value.number === 17 && value.amount === 25,
    child2518: value.number === 18 && value.amount === 25,
    child2519: value.number === 19 && value.amount === 25,
    child2520: value.number === 20 && value.amount === 25,
    child2521: value.number === 21 && value.amount === 25,
    child2522: value.number === 22 && value.amount === 25,
    child2523: value.number === 23 && value.amount === 25,
    child2524: value.number === 24 && value.amount === 25,
    child2525: value.number === 25 && value.amount === 25 && !value.blank,
  }"
>
  {{ value.number }}
</button>
