<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-5 mb-3 mb-sm-0">
      <div class="card text-bg-dark mb-3">
        <div class="card-header">Chess</div>
        <div class="card-body text-center">
          <h6>Current Player: {{ player.color }}</h6>

          <button mat-raised-button color="primary" (click)="newGame()">
            Start New Game
          </button>

          <h2 *ngIf="winner">Player{{ winner }} won the game!</h2>

          <div class="chess mt-2">
            <app-square
              *ngFor="let val of squares; let i = index"
              [value]="val"
              (click)="makeMove(i)"
            >
            </app-square>
          </div>
          <!-- <app-form value="http://localhost:3000/api/chess"></app-form> -->
        </div>
      </div>
    </div>
  </div>
</div>
