.othello {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  border: 1px solid black;
  gap: 1px;
  width: 400px;
  margin: auto;
}

app-circle {
  height: 50px;
  background-color: rgb(28, 146, 77);
}
