<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-5 mb-3 mb-sm-0">
      <div class="card text-bg-dark mb-3">
        <div class="card-header">Othello</div>
        <div class="card-body text-center">
          <h5>Current Player: {{ player.color }}</h5>

          <button mat-raised-button color="primary" (click)="newGame()">
            Start new Game
          </button>
          <div class="othello mt-2">
            <app-circle
              *ngFor="let val of markers; let i = index"
              [value]="val"
              (click)="makeMove(i)"
            >
            </app-circle>
          </div>
          <!-- <app-form value="http://localhost:3000/api/othello"></app-form> -->
        </div>
      </div>
    </div>
  </div>
</div>
