<mat-card class="p-2">
  @for (item of qualifictions; track $index) {
  <div class="row">
    <div class="col-8" contenteditable="true">
      <i [class]="item.icon"></i> {{ item.text }}
    </div>
    <div class="col-3">
      @if (item.stars === 1) {
      <i class="bi bi-star-fill"></i><i class="bi bi-star"></i
      ><i class="bi bi-star"></i><i class="bi bi-star"></i
      ><i class="bi bi-star"></i>
      } @if (item.stars === 2) {
      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
      ><i class="bi bi-star"></i><i class="bi bi-star"></i
      ><i class="bi bi-star"></i>
      } @if (item.stars === 3) {
      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
      ><i class="bi bi-star-fill"></i><i class="bi bi-star"></i
      ><i class="bi bi-star"></i>
      } @if (item.stars === 4) {
      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
      ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
      ><i class="bi bi-star"></i>
      } @if (item.stars === 5) {
      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
      ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
      ><i class="bi bi-star-fill"></i>
      }
    </div>
    <div class="col-1">
      <button matButton (click)="removeQualifiction($index)">Remove</button>
    </div>
  </div>
  }
  <mat-form-field>
    <mat-label>Icon</mat-label>
    <input matInput type="text" [(ngModel)]="icon" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Text</mat-label>
    <input matInput type="text" [(ngModel)]="text" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Stars</mat-label>
    <input matInput type="text" [(ngModel)]="stars" />
  </mat-form-field>
  <button matButton (click)="addQualifiction()">Add Qualification</button>
</mat-card>
