<mat-toolbar color="primary">
  <span>Jimmys Angular-app</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Hem</a>
  <a mat-button routerLink="/chess">Chess</a>
  <a mat-button routerLink="/othello">Othello</a>
  <a mat-button routerLink="/memory">Memory</a>
  <a mat-button routerLink="/calculator">Calculator</a>
  <a mat-button routerLink="/mine">Minesweeper</a>
  <a mat-button routerLink="/sudoku">Sudoku</a>
  <a mat-button routerLink="/killersudoku">Killer Sudoku</a>
  <a mat-button routerLink="/slidingpuzzle">Sliding puzzle</a>
</mat-toolbar>
