<nav class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark">
  <a class="navbar-brand">Jimmys Angular App</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="isCollapse = !isCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNavDropdown"
    [ngbCollapse]="isCollapse"
  >
    <ul class="navbar-nav p-1">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/chess">Chess</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/othello">Othello</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/memory">Memory</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/calculator">Calculator</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/mine">Minesweeper</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/sudoku">Sudoku</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/killersudoku">Killer Sudoku</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/slidingpuzzle">Sliding Puzzle</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/snake">Snake</a>
      </li>
    </ul>
  </div>
</nav>
