<nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-dark">
  <a class="navbar-brand">Jimmydev.se</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="isCollapse = !isCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNavDropdown"
    [ngbCollapse]="isCollapse"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" role="button">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a
          class="nav-link"
          role="button"
          routerLinkActive="active"
          routerLink="/chess"
          >Chess</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="button"
          routerLinkActive="active"
          routerLink="/othello"
          >Othello</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="button"
          routerLinkActive="active"
          routerLink="/memory"
          >Memory</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="button"
          routerLinkActive="active"
          routerLink="/calculator"
          >Calculator</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="button"
          routerLinkActive="active"
          routerLink="/mine"
          >Minesweeper</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="button"
          routerLinkActive="active"
          routerLink="/sudoku"
          >Sudoku</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="button"
          routerLinkActive="active"
          routerLink="/killersudoku"
          >Killer Sudoku</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="button"
          routerLinkActive="active"
          routerLink="/slidingpuzzle"
          >Sliding Puzzle</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="button"
          routerLinkActive="active"
          routerLink="/snake"
          >Snake</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="button"
          routerLinkActive="active"
          routerLink="/particles"
          >Particle System</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="button"
          routerLinkActive="active"
          routerLink="/sidescroller"
          >Sidescroller</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="button"
          routerLinkActive="active"
          routerLink="/sand"
          >Falling Sand</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="button"
          routerLinkActive="active"
          routerLink="/collision"
          >Collision Detection</a
        >
      </li>
    </ul>
  </div>
</nav>
