div {
  min-height: 100%;
  border: none;
  aspect-ratio: 1;
  background-color: black;
}

.apple {
  background-color: red;
  border-radius: 50%;
}

.tail,
.last {
  background-color: rgb(0, 255, 0);
}

.last {
  background-color: red;
}

.head {
  background-color: blue;
}
