.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 50px;
}

.grid > div {
  border: 1px solid black;
}

.flex {
  display: flex;
  justify-content: flex-end;
  justify-self: center;
  width: 100%;
  padding: 10px;
}

.item1 {
  grid-column: 1/3;
}
