<div class="row">
  <div class="col-12">
    <div class="boundry w-100">
      @for (item of colorStops; track $index) {
        <input
          class="example-box border"
          [style.background]="item.color"
          type="color"
          id="background"
          name="background"
          cdkDragBoundary=".boundry"
          cdkDragLockAxis="x"
          [formControl]="color"
          [cdkDragFreeDragPosition]="position"
          (cdkDragEnded)="onDropped($event, item, color.value)"
          cdkDrag
        />
        <label for="background"></label>
      }
    </div>
    <canvas class="canvas border w-100" #canvas> </canvas>
  </div>
</div>
<button (click)="getGradientTexture()"></button>
