<div class="row">
  <div class="col-12">
    {{ texture.UniformName }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="boundry">
      @for (item of colorStops; track $index) {
        <input
          class="example-box"
          [style.background]="item.color"
          type="color"
          id="background"
          name="background"
          cdkDragBoundary=".boundry"
          cdkDragLockAxis="x"
          [cdkDragFreeDragPosition]="item.position"
          (cdkDragEnded)="onDropped($event, item, color.value)"
          (dblclick)="addColorStop(item.stop, item.color)"
          cdkDrag
          [(ngModel)]="item.color"
          (input)="updateGradientFromTexture()"
        />
        <label for="background"></label>
      }
      <canvas class="canvas w-100 h-100" #canvas> </canvas>
    </div>
  </div>
</div>
