.background {
  background-color: var(--mat-toolbar-container-background-color);
}

.toolbox {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 500px;
}

a {
  color: var(--sys-primary-color);
  list-style-type: none;
  text-decoration: none;
}

.none-decoration {
  list-style-type: none;
  text-decoration: none;
  padding: 0px;
}
