<div class="container border" style="width: 210mm; height: 297mm">
  <div class="row h-100">
    <aside class="col-4 background p-2">
      <div class="row">
        <h4>OM MIG</h4>
        <div>fewfew</div>
      </div>
      <div class="row">
        <h4>Image</h4>
        <div>fewfew</div>
      </div>
      <div class="row">
        <h4>PERSONLIGT</h4>
        <div>fewfew</div>
      </div>
      <div class="row">
        <h4>INTRESSEN</h4>
        <div>fewfew</div>
      </div>
      <div class="row">
        <h4>SPRÅK</h4>
        <div>fewfew</div>
      </div>
    </aside>
    <article class="col-8">
      <div class="text-center"><h1 contenteditable="true">Header</h1></div>
      <app-experience-box></app-experience-box>
      <app-education-box></app-education-box>
      <app-qualification-box></app-qualification-box>
    </article>
  </div>
</div>
<mat-card class="toolbox">
  <h1>Toolbox</h1>

  <form [formGroup]="experienceForm" class="border">
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput type="text" formControlName="date" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Company name or school</mat-label>
      <input matInput type="text" formControlName="companyName" />
    </mat-form-field>
    <div formArrayName="experienceList">
      <button matButton (click)="addExperience()">
        + Add another experience
      </button>
      @for (item of experiences.controls; track $index; let i = $index) {
      <mat-form-field>
        <mat-label>Experience {{ i }}</mat-label>
        <input matInput type="text" [formControlName]="i" />
      </mat-form-field>
      }
    </div>

    <button type="submit" matButton (click)="onSubmit()">Skicka</button>
  </form>
  <mat-checkbox [(ngModel)]="education" name="education"
    >Education?</mat-checkbox
  >{{ education | json }}
</mat-card>
