.mines {
  background: #c6c6c6;
  display: flex;
  padding: 0px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-width: 4px;
  border-top-color: white;
  border-left-color: white;
  border-right-color: #dedede;
  border-bottom-color: #dedede;
  font-size: 20px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.pressed {
  border: none;
}
