<form [formGroup]="myForm" (ngSubmit)="add()">
  <mat-form-field style="background-color: white">
    <mat-label for="firstName">FirstName</mat-label>
    <input matInput placeholder="Ditt namn" formControlName="name" />
    <mat-error *ngIf="name?.invalid && name?.touched">
      Måste vara valid!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="comment">Comment</mat-label>
    <textarea
      matInput
      placeholder="Skriv en kommentar"
      formControlName="comment"
    ></textarea>
    <mat-error *ngIf="comment?.invalid && comment?.touched">
      Måste vara valid!
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!myForm.valid">
    Submit
  </button>
</form>
<table class="comments">
  <thead>
    <tr>
      <th>Namn</th>
      <th>Kommentar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.name }}</td>
      <td>{{ post.message }}</td>
    </tr>
  </tbody>
</table>
