mat-form-field {
  width: 100%;
  background: white;
}
input {
  width: 100%;
  background: white;
}

.comments {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.comments td,
.comments th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
