button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  min-width: 100%;
  min-height: 100%;
}

.yellow {
  background: rgb(234, 255, 77);
}
