.form {
  display: flex;
  margin: auto;
  justify-content: center;
  justify-items: center;
  width: 50%;
}

.todo-list {
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  margin: auto;
}

ul {
  list-style-type: none;
}
