<div class="container-fluid" style="height: 850px">
  <div class="row">
    <div class="col-1 overflow-auto" style="height: 800px">
      <mat-card class="h-100 d-flex flex-column justify-content-between">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Scene</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="h-100 d-flex flex-column">
          @for (item of ecs.getEntities(); track $index) {
          <button mat-button="filled" (click)="changeActiveEntity(item)">
            {{ getSceneObjectName(item) }}
          </button>
          }</mat-card-content
        >
        <button mat-button [matMenuTriggerFor]="animals">Add to scene</button>
        <mat-menu #animals="matMenu">
          <button mat-menu-item (click)="createWater()">Water</button>
          <button mat-menu-item (click)="createTerrainWithSplatmap()">
            Terrain
          </button>
          <button mat-menu-item (click)="createAdjacentTerrain()">
            Adjacent Terrain
          </button>
          <button mat-menu-item (click)="createCylinder()">Cylinder</button>
        </mat-menu>
      </mat-card>
    </div>
    <div class="col-9">
      <canvas #canvas></canvas>
    </div>
    <div class="col-2 overflow-auto" style="height: 800px">
      <mat-card class="h-100 d-flex flex-column justify-content-between">
        <mat-card-content class="h-100 d-flex flex-column">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Transform </mat-panel-title>
                <mat-panel-description>
                  <mat-icon>transform</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row">
                <mat-form-field class="w-100">
                  <mat-label>X</mat-label>
                  <input matInput type="number" [(ngModel)]="translateX" />
                </mat-form-field>

                <mat-form-field class="w-100">
                  <mat-label>Y</mat-label>
                  <input matInput type="number" [(ngModel)]="translateY" />
                </mat-form-field>
                <mat-form-field class="w-100">
                  <mat-label>Z</mat-label>
                  <input matInput type="number" [(ngModel)]="translateZ" />
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="w-100">
                  <mat-label>X</mat-label>
                  <input matInput type="number" [(ngModel)]="scaleX" />
                </mat-form-field>

                <mat-form-field class="w-100">
                  <mat-label>Y</mat-label>
                  <input matInput type="number" [(ngModel)]="scaleY" />
                </mat-form-field>

                <mat-form-field class="w-100">
                  <mat-label>Z</mat-label>
                  <input matInput type="number" [(ngModel)]="scaleZ" />
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field class="w-100">
                  <mat-label>X</mat-label>
                  <input matInput type="number" [(ngModel)]="rotateX" />
                </mat-form-field>
                <mat-form-field class="w-100">
                  <mat-label>Y</mat-label>
                  <input matInput type="number" [(ngModel)]="rotateY" />
                </mat-form-field>
                <mat-form-field class="w-100">
                  <mat-label>Z</mat-label>
                  <input matInput type="number" [(ngModel)]="rotateZ" />
                </mat-form-field>
              </div>
            </mat-expansion-panel>

            @for (item of getToolbarComponents(); track $index) {
            @if(item.type.includes("Terrain")){
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>{{ item.type }}</mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>
              <h5>Brushes</h5>
              <div class="d-flex justify-content-around w-100">
                <button mat-fab (click)="changeTool('grass')">
                  <mat-icon>grass</mat-icon>
                </button>
                <button mat-fab (click)="changeTool('tree')">
                  <mat-icon>forest</mat-icon>
                </button>
                <button mat-fab (click)="changeTool('height')">
                  <mat-icon>landscape</mat-icon>
                </button>
              </div>
              @for (item of brushToolsImages; track $index) {
              <button (click)="changeBrushImage($index)">
                <img src="{{ item.src }}" width="50" height="50" />
              </button>
              }
              <div class="d-flex flex-column justify-content-center">
                <mat-slider min="0" max="500" step="1" discrete>
                  <input matSliderThumb [(ngModel)]="meshbrush.radius" />
                </mat-slider>
                <mat-slider min="-10" max="10" step="1" discrete>
                  <input matSliderThumb [(ngModel)]="meshbrush.strength" />
                </mat-slider>
                <mat-slider min="0" max="1" step="0.1" discrete>
                  <input matSliderThumb [(ngModel)]="meshbrush.fallOff" />
                </mat-slider>
              </div>
              <mat-form-field class="w-100">
                <mat-label>Mesh Quads</mat-label>
                <input
                  matInput
                  type="number"
                  (click)="changeVertices($event)"
                />
              </mat-form-field>
            </mat-expansion-panel>
            } @if(item.type.includes("Splatmap")){
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> {{ item.type }} </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="d-flex flex-row">
                <div>
                  <mat-slider min="0" max="1" step="0.1" discrete>
                    <input matSliderThumb [(ngModel)]="meshbrush.alpha" />
                  </mat-slider>
                  <mat-slider min="0" max="100" step="1" discrete>
                    <input matSliderThumb [(ngModel)]="meshbrush.radius" />
                  </mat-slider>
                  <button mat-fab (click)="changeTool('splat')">
                    <mat-icon>brush</mat-icon>
                  </button>
                </div>
                <div>
                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="meshbrush.color"
                  >
                    <mat-radio-button value="red">Red</mat-radio-button>
                    <mat-radio-button value="green">Green</mat-radio-button>
                    <mat-radio-button value="blue">Blue</mat-radio-button>
                    <mat-radio-button value="alpha">Alpha</mat-radio-button>
                  </mat-radio-group>
                  <div>Your color is: {{ meshbrush.color }}</div>
                </div>
              </div>
              <div>Change shader: {{ selectedShader }}</div>
              <mat-form-field>
                <mat-label>Shaders</mat-label>
                <mat-select
                  [(ngModel)]="selectedShader"
                  name="shader"
                  (selectionChange)="changeShader($event)"
                  ><mat-option value="default">Default</mat-option>
                  <mat-option value="shader1">Shader 1</mat-option>
                  <mat-option value="shader2">Shader 2</mat-option></mat-select
                >
              </mat-form-field>
            </mat-expansion-panel>
            } @if(item === water){
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> {{ water.type }} </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-slider min="0" max="20" step="1" discrete>
                <input matSliderThumb [(ngModel)]="water.displacement" />
              </mat-slider>
            </mat-expansion-panel>
            } @if(item.type.includes("Tree")){
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> {{ item.type }} </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            }}
          </mat-accordion>
          <button mat-button (click)="saveEntity()">Add Component</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- <div class="row">
    <mat-card>
      <mat-slider min="-200" max="20" step="1" discrete>
        <input matSliderThumb [(ngModel)]="perspectiveCamera.position[0]" />
      </mat-slider>
      <mat-slider min="-200" max="20" step="1" discrete>
        <input matSliderThumb [(ngModel)]="perspectiveCamera.position[1]" />
      </mat-slider>
      <mat-slider min="-200" max="20" step="1" discrete>
        <input matSliderThumb [(ngModel)]="perspectiveCamera.position[2]" />
      </mat-slider>
    </mat-card>
  </div> -->
</div>
