canvas {
  display: flex;
  justify-self: center;
  width: 100%;
}

.example-label-container {
  display: flex;
  justify-content: space-between;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 150px;
  height: 150px;
}
