canvas {
  display: flex;
  justify-self: center;
  width: 100%;
}

.example-label-container {
  display: flex;
  justify-content: space-between;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 150px;
  height: 150px;
}

.transparent {
  background-color: transparent;
}

.track {
  width: 100%;
  height: 20px;
  border: 1px solid black;
}

.player {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

.player-buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid black;
  height: 30px;
}

.player-buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline {
  width: 100%;
  height: 50px;
  position: relative;
}

.timeBox {
  position: absolute;
  height: 50px;
  border: 1px solid white;
}

.colorBox {
  position: absolute;
  height: 100%;
  background-color: blue;
}
