<div class="container-fluid border">
  <div class="row">
    <div class="col-1">
      <mat-card class="h-100">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Scene</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          @for (item of ecs.getEntities(); track $index) {
          {{ item }}
          }</mat-card-content
        >
        <button mat-flat-button>Add to scene</button>
      </mat-card>
    </div>
    <div class="col-8">
      <canvas #canvas class="border"></canvas>
    </div>
    <div class="col-3">
      <mat-card class="h-100">
        <mat-card-content
          class="d-flex flex-column justify-content-between h-100"
        >
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Transform </mat-panel-title>
                <mat-panel-description>
                  <mat-icon>transform</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-3">Translate</div>
                <div class="col-3">
                  <mat-form-field class="w-100">
                    <mat-label>X</mat-label>
                    <input matInput type="number" />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="w-100">
                    <mat-label>Y</mat-label>
                    <input matInput type="number" />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="w-100">
                    <mat-label>Z</mat-label>
                    <input matInput type="number" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-3">Rotation</div>
                <div class="col-3">
                  <mat-form-field class="w-100">
                    <mat-label>X</mat-label>
                    <input matInput type="number" />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="w-100">
                    <mat-label>Y</mat-label>
                    <input matInput type="number" />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="w-100">
                    <mat-label>Z</mat-label>
                    <input matInput type="number" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-3">Scale</div>
                <div class="col-3">
                  <mat-form-field class="w-100">
                    <mat-label>X</mat-label>
                    <input matInput type="number" />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="w-100">
                    <mat-label>Y</mat-label>
                    <input matInput type="number" />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="w-100">
                    <mat-label>Z</mat-label>
                    <input matInput type="number" />
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Terrain</mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>
              <h5>Brushes</h5>
              <div class="d-flex justify-content-around w-100">
                <button mat-fab (click)="changeTool('grass')">
                  <mat-icon>grass</mat-icon>
                </button>
                <button mat-fab (click)="changeTool('tree')">
                  <mat-icon>forest</mat-icon>
                </button>
                <button mat-fab (click)="changeTool('height')">
                  <mat-icon>landscape</mat-icon>
                </button>
              </div>
              @for (item of brushToolsImages; track $index) {
              <button (click)="changeBrushImage($index)">
                <img src="{{ item.src }}" width="50" height="50" />
              </button>
              }
              <div class="d-flex flex-column justify-content-center">
                <mat-slider min="0" max="50" step="1" discrete>
                  <input matSliderThumb [(ngModel)]="meshbrush.radius" />
                </mat-slider>
                <mat-slider min="0" max="1" step="0.1" discrete>
                  <input matSliderThumb [(ngModel)]="meshbrush.strength" />
                </mat-slider>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Splatmap Terrain </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="d-flex flex-row">
                <div>
                  <mat-slider min="0" max="1" step="0.1" discrete>
                    <input matSliderThumb [(ngModel)]="splatBrush.alpha" />
                  </mat-slider>
                  <mat-slider min="0" max="100" step="1" discrete>
                    <input matSliderThumb [(ngModel)]="splatBrush.radius" />
                  </mat-slider>
                  <button mat-fab (click)="changeTool('splat')">
                    <mat-icon>brush</mat-icon>
                  </button>
                </div>
                <div>
                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="splatBrush.color"
                  >
                    <mat-radio-button value="red">Red</mat-radio-button>
                    <mat-radio-button value="green">Green</mat-radio-button>
                    <mat-radio-button value="blue">Blue</mat-radio-button>
                    <mat-radio-button value="alpha">Alpha</mat-radio-button>
                  </mat-radio-group>
                  <div>Your color is: {{ splatBrush.color }}</div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <button mat-button>Add Component</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- <div class="row">
    <mat-card>
      <mat-slider min="-200" max="20" step="1" discrete>
        <input matSliderThumb [(ngModel)]="perspectiveCamera.position[0]" />
      </mat-slider>
      <mat-slider min="-200" max="20" step="1" discrete>
        <input matSliderThumb [(ngModel)]="perspectiveCamera.position[1]" />
      </mat-slider>
      <mat-slider min="-200" max="20" step="1" discrete>
        <input matSliderThumb [(ngModel)]="perspectiveCamera.position[2]" />
      </mat-slider>
    </mat-card>
  </div> -->
</div>
