<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-5 mb-3 mb-sm-0">
      <div class="card text-bg-dark mb-3">
        <div class="card-header">Memory</div>
        <div class="card-body text-center">
          <h5>Number of clicks {{ clicks }}</h5>

          <button class="btn btn-primary" color="primary" (click)="newGame()">
            Start new Game
          </button>

          <div class="memory mt-3">
            <app-card
              *ngFor="let val of cards; let i = index"
              [value]="val"
              (click)="makeMove(i)"
            >
            </app-card>
          </div>
          <!-- <app-form></app-form> -->
        </div>
      </div>
    </div>
  </div>
</div>
