<h2 mat-dialog-title>Import keyframes from JSON</h2>
<mat-dialog-content>
  <mat-form-field class="w-100">
    <mat-label>Name</mat-label>
    <input matInput (input)="filterKeyframes($event)" />
  </mat-form-field>
  @for (item of filteredKeyframes; track $index) {
  <div>{{ item | json }}</div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    [mat-dialog-close]="filteredKeyframes"
  >
    Ok
  </button>
</mat-dialog-actions>
