/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.material {
  text-align: center;
  display: flex;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 8px #bababa;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  width: 40%;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
  width: 100%;
  height: auto;
  background-color: grey;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

