<div class="container-fluid mt-2">
  <div class="row mb-2 p-2" style="height: 750px">
    <div class="col-1 h-100">
      <mat-card class="h-100" appearance="outlined">
        <mat-card-header>
          <mat-card-title> Menu </mat-card-title>
        </mat-card-header>
        <mat-card-content
          class="h-100 d-flex flex-column justify-content-between align-items-center"
        >
          <button
            mat-fab
            aria-label="Example icon button with a delete icon"
            (click)="openDialogfilterKeyframes()"
          >
            <mat-icon>filter_list</mat-icon>
          </button>
          <button mat-fab aria-label="Example icon button with a delete icon">
            <mat-icon>logout</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-2 h-100">
      <mat-card class="h-100" appearance="outlined">
        <mat-card-header>
          <mat-card-title-group style="align-items: center">
            <mat-card-title>Keyframes</mat-card-title>
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="importKeyframes()">
                Import keyframes
              </button>
              <button mat-menu-item (click)="exportKeyframes()">
                Export keyframes
              </button>
            </mat-menu>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="h-50 overflow-auto">
          @for (keyframe of filteredKeyframes; track $index) {
          <div
            class="d-flex justify-content-between flex-row align-items-center"
          >
            <div (click)="changeKeyframe(keyframe)">
              {{ keyframe | json }}
            </div>
          </div>

          }
        </mat-card-content>
        <mat-card-actions
          class="justify-content-center sticky-bottom"
          style="margin-top: auto"
        >
          <button mat-flat-button (click)="createKeyframesOfBones()">
            Add keyframes
          </button>
        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title
              >Keyframes form - {{ activeKeyframe?.name }}</mat-card-title
            >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="h-50 overflow-auto">
          @if(activeKeyframe !== null){
          <mat-form-field class="w-100">
            <mat-label>Name</mat-label>
            <input matInput disabled [(ngModel)]="activeKeyframe.name" />
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Time</mat-label>
            <input
              matInput
              [disabled]="activeKeyframe === null"
              [(ngModel)]="activeKeyframe.time"
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Angle</mat-label>
            <input
              matInput
              [disabled]="activeKeyframe === null"
              [(ngModel)]="activeKeyframe.angle"
              type="number"
            />
          </mat-form-field>
          }
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6 h-100">
      <mat-card appearance="outlined" class="h-100">
        <mat-card-header>
          <mat-card-title>Canvas</mat-card-title>
          <mat-card-subtitle>
            <mat-card-title-group>
              <mat-slide-toggle [(ngModel)]="showSpritesheet"
                >Show Spritesheet</mat-slide-toggle
              >
              <mat-slide-toggle [(ngModel)]="showBones"
                >Show Bones</mat-slide-toggle
              >
              <mat-slide-toggle [(ngModel)]="showSprites"
                >Show Sprites</mat-slide-toggle
              >
              <input type="file" (change)="onFileSelected($event)" />
            </mat-card-title-group>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <canvas #canvas class="border"></canvas>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="justify-content-around">
          <label for="slider">AnimationSpeed</label>
          <mat-slider id="slider" [step]="1" [min]="1" [max]="3" discrete>
            <input matSliderThumb #slider [(ngModel)]="animationSpeed" />
          </mat-slider>
          <button mat-flat-button (click)="togglePlay()">
            <i class="bi bi-play-fill" style="font-size: 20px"></i>
          </button>
          <label>KeyFrames</label>
          <mat-slider [step]="0.1" [min]="0" [max]="10" discrete>
            <input matSliderThumb [(ngModel)]="keyframeSliderValue" #slider />
          </mat-slider>
          <button mat-flat-button (click)="createLoopFrame()">
            Create loop
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-3 h-100">
      <mat-card class="h-100" appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Bones</mat-card-title>
            <button
              mat-icon-button
              [matMenuTriggerFor]="boneMenu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #boneMenu="matMenu">
              <button mat-menu-item (click)="importBones()">
                Import bones
              </button>
              <button mat-menu-item (click)="exportBones()">
                Export bones
              </button>
            </mat-menu>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="h-50 overflow-auto">
          <mat-tree
            #tree
            [dataSource]="dataSource"
            [childrenAccessor]="childrenAccessor"
          >
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let bone" matTreeNodePadding>
              <!-- use a disabled button to provide padding for tree leaf -->
              <button mat-icon-button disabled></button>
              <button mat-button (click)="activateBone(bone.boneId)">
                {{ bone.boneId }}
              </button>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node
              *matTreeNodeDef="let bone; when: hasChild"
              matTreeNodePadding
              matTreeNodeToggle
              [cdkTreeNodeTypeaheadLabel]="bone.boneId"
              class="border"
            >
              <button
                mat-icon-button
                matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + bone.boneId"
              >
                <mat-icon class="mat-icon-rtl-mirror">
                  {{ tree.isExpanded(bone) ? "expand_more" : "chevron_right" }}
                </mat-icon>
              </button>
              <button mat-button (click)="activateBone(bone.boneId)">
                {{ bone.boneId }}
              </button>
            </mat-tree-node>
          </mat-tree>
        </mat-card-content>
        <mat-card-actions
          class="justify-content-center sticky-bottom"
          style="margin-top: auto"
        >
          <button mat-flat-button (click)="addBone()">Add bone</button>
        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title
              >Properties @if(activeBone){
              {{ activeBone.id }}
              }</mat-card-title
            >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="h-50 overflow-auto">
          @if(activeBone !== null){
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Id</mat-label>
            <input matInput disabled [value]="activeBone.id" />
          </mat-form-field>
          <mat-form-field class="w-50" appearance="fill">
            <mat-label>X</mat-label>
            <input
              matInput
              [disabled]="activeBone === null"
              [(ngModel)]="activeBone.offset.X"
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-50" appearance="fill">
            <mat-label>Y</mat-label>
            <input
              matInput
              [disabled]="activeBone === null"
              [(ngModel)]="activeBone.offset.Y"
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-50" appearance="fill">
            <mat-label>Pivot X</mat-label>
            <input
              matInput
              [disabled]="activeBone === null"
              [(ngModel)]="activeBone.pivot.X"
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-50" appearance="fill">
            <mat-label>Pivot Y</mat-label>
            <input
              matInput
              [disabled]="activeBone === null"
              [(ngModel)]="activeBone.pivot.Y"
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Rotation</mat-label>
            <input
              matInput
              [disabled]="activeBone === null"
              [(ngModel)]="rotationSliderValue"
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Length</mat-label>
            <input
              matInput
              [disabled]="activeBone === null"
              [(ngModel)]="lengthSliderValue"
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Order</mat-label>
            <input
              matInput
              [disabled]="activeBone === null"
              [(ngModel)]="activeBone.order"
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-50" appearance="fill">
            <mat-label>StartX</mat-label>
            <input
              matInput
              [disabled]="activeBone === null"
              [(ngModel)]="activeBone.startX"
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-50" appearance="fill">
            <mat-label>StartY</mat-label>
            <input
              matInput
              [disabled]="activeBone === null"
              [(ngModel)]="activeBone.startY"
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-50" appearance="fill">
            <mat-label>EndX</mat-label>
            <input
              matInput
              [disabled]="activeBone === null"
              [(ngModel)]="activeBone.endX"
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-50" appearance="fill">
            <mat-label>EndY</mat-label>
            <input
              matInput
              [disabled]="activeBone === null"
              [(ngModel)]="activeBone.endY"
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>AttachAt</mat-label>
            <input
              [step]="0.1"
              matInput
              [disabled]="activeBone === null"
              [(ngModel)]="activeBone.attachAt"
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>ParentId</mat-label>
            <input
              [step]="0.1"
              matInput
              [disabled]="activeBone === null"
              [(ngModel)]="activeBone.parentId"
            />
          </mat-form-field>
          }
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-card
        appearance="raised"
        class="d-flex flex-row justify-content-center"
      >
        <mat-card-content>
          @if(activeBone !== null){
          <mat-label>Length:</mat-label>
          <mat-slider [step]="1" [max]="300" discrete="true">
            <input matSliderThumb [(ngModel)]="lengthSliderValue" #slider />
          </mat-slider>
          <mat-label>Rotation:</mat-label>
          <mat-slider [step]="1" [max]="360" discrete="true">
            <input matSliderThumb [(ngModel)]="rotationSliderValue" #slider />
          </mat-slider>
          <mat-label>Sprite Rotaion:</mat-label>
          <mat-slider [step]="1" [max]="360" discrete="true">
            <input
              matSliderThumb
              [(ngModel)]="activeBone.globalSpriteRotation"
              #slider
            />
          </mat-slider>
          <button mat-button (click)="inactivateBone()">inactivate bone</button>
          }
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
