<div class="container text-light">
  <div class="row">
    <div class="col-lg-6 flex">
      <video
        [muted]="true"
        [autoplay]="true"
        [loop]="true"
        class="col-lg-6"
        onloadedmetadata="this.muted = true"
      >
        <source src="assets/angularchallenge.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="col-lg-6 flex">
      <p>
        Detta är ett projekt gjort på några dagar för att skapa ett backend och
        frontend. Backend med C# och .NET. Frontend med Angular. Här används
        JSON-token (JWT) för att sköta och kolla inloggning är korrekt mot
        backend. Det används ingen databas utan allt är serverless så inget
        sparas permanent när backend är igång. Det körs endast lokalt. Bootstrap
        används för responstivitet och skapa en snygg och enhetlig design.
        Uppgiften gick ut på att skapa en sida för att skapa böcker. Där man kan
        skapa, redigera och ta bort böcker. Sen även ha en sida med sina
        favoritcitat.
      </p>
    </div>
  </div>
</div>
