.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  border: 1px solid black;
}

.grid2 {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  border: 1px solid black;
}

app-puzzlepiece {
  height: 100px;
  background: transparent;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
