<main>
  <h2>Sliding Puzzle</h2>
  <div class="material">
    <div *ngIf="won">Grattis!!!</div>
    <div class="flex">
      <button mat-button (click)="newGame(9)">3x3</button>
      <button mat-button (click)="newGame(16)">4x4</button>
    </div>
    <div [ngClass]="{ grid: amount === 9, grid2: amount === 16 }">
      <app-puzzlepiece
        *ngFor="let piece of pieces; let i = index"
        [ngClass]="{ child1: piece.number === 1 }"
        [value]="piece"
        (click)="makeMove(i)"
      >
      </app-puzzlepiece>
    </div>
  </div>
</main>
