.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 1px solid black;
  width: auto;
  margin: auto;
  aspect-ratio: 1;
}

.grid2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  border: 1px solid black;
  width: auto;
  margin: auto;
  aspect-ratio: 1;
}

.grid3 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  border: 1px solid black;
  width: auto;
  margin: auto;
  aspect-ratio: 1;
}

app-puzzlepiece {
  background: transparent;
  min-width: 100%;
  min-height: 100%;
  aspect-ratio: 1;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
