main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 50px;
  gap: 2px;
  margin: auto;
  width: 450px;
}

app-sudoku-number {
  width: 100%;
}

app-sudoku-number:nth-child(19),
app-sudoku-number:nth-child(20),
app-sudoku-number:nth-child(21),
app-sudoku-number:nth-child(22),
app-sudoku-number:nth-child(23),
app-sudoku-number:nth-child(24),
app-sudoku-number:nth-child(25),
app-sudoku-number:nth-child(26),
app-sudoku-number:nth-child(27) {
}

app-sudoku-number:nth-child(46),
app-sudoku-number:nth-child(47),
app-sudoku-number:nth-child(48),
app-sudoku-number:nth-child(49),
app-sudoku-number:nth-child(50),
app-sudoku-number:nth-child(51),
app-sudoku-number:nth-child(52),
app-sudoku-number:nth-child(53),
app-sudoku-number:nth-child(54) {
}

app-sudoku-number:nth-child(3n) {
}

.hidden {
  display: none;
}
