<div class="container mt-4">
  <div class="row justify-content-md-center">
    <div class="col-sm-5 mb-3 mb-sm-0">
      <div class="card text-bg-primary mb-3">
        <div class="card-header">Sudoku</div>
        <div class="card-body text-center">
          <h2 *ngIf="won">Grattis du vann!</h2>
          <app-sudokumenu
            [ngClass]="{ hidden: !menu }"
            [sudokuNumbers]="tempValues"
            (newItemEvent)="printValue($event)"
          ></app-sudokumenu>
          <main>
            <app-sudoku-number
              *ngFor="let value of values; let i = index"
              class="sudoku"
              [value]="value"
              (click)="makeMove(i)"
            >
            </app-sudoku-number>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
